open.sh
start.sh
work
app/rtf_templates
bin
.bundle
db/*.sqlite3
tmp/
.sass-cache/
vendor/bundle
config/database.yml
.htaccess
*.sw*
.*.sw*
.DS_Store
*.gz
public/index.html
doc-tutorials
*.log
public/assets
*.session
