/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree ./application

 * require foundation_and_overrides
 *= require ../jquery-ui-1.10.3.custom/css/ui-lightness/jquery-ui-1.10.3.custom
 *= require ../bootstrap-3.0.1/css/bootstrap
 *= require ../choco-templates/css/style
 *= require ../choco-templates/css/flexslider

 *= require_self
*/

/*
removes extra space (usually present when the width is small enough
to reveal the vertical menu) from the wider, non-landing page views
*/
html { margin-top: -10px; }

/* restore choco-template to retain correct settings for native sections */ 
*, *:before, *:after {
  -moz-box-sizing: inherit;
}

/*
Rails generated content should primarily be placed under .main-content
which is heavily influenced by twitter-bootstrap
restore bootstrap settings so that Rails specific views are using
bootstrap correctly
*/
.main-content *, .main-content *:before, .main-content *:after {
  -moz-box-sizing: border-box;
}

/* removes extra top space on non-landing page views */
.main { padding-top: 0 !important; margin-top: 0; }
@media only screen and ( max-width: 767px) { 
html { margin-top: 0px; }
.main span.shadow-top{ display: none; }
.main .main-content{ padding-top: 0px; }
}
