/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree ./application
 *= require_tree ./landing-page

 * require foundation_and_overrides
 *= require ../jquery-ui-1.10.3.custom/css/ui-lightness/jquery-ui-1.10.3.custom
 * require ../bootstrap-3.0.1/css/bootstrap
 *= require ../choco-templates/css/style
 *= require ../choco-templates/css/flexslider

 *= require_self
*/

/* 
adds a little more padding between the action button and the testimonial section 
also include some extra breathing room at the bottom
*/
@media only screen and ( max-width: 767px) { 
  .main .testimonial {
    padding-top: 70px;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
}

/*
provides more padding around 'section' elements to provide 
some breathing space in tight quarters (when the width is narrow), 
but remove when width is > 980px to allow correct formatting

apparently, this is already being done correctly in the non-
landing page view templates
*/
.container section{
  padding: 0 15px;
}
@media only screen and ( min-width: 980px) { 
  .container section{
    padding: inherit;
  }
}

